body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgb(76,45,116);
  color: white;
  padding: 10px 20px;
}

.right-nav {
  display: flex;
  gap: 10px;
}

.top-nav {
  display: none;
}

.get-quote-btn {
  background-color: rgb(244,192,98);
border: none;
border-radius: 20px;
padding: 10px 10px;
}

.embrace-text {
  font-size: 2rem;
  font-weight: bold;
}

.pet-insurance-text {
  letter-spacing: 3px;
  font-size: 0.5rem;
}

.burger-logo {
  font-size: 1.5rem;
}

.dog-img {
  background-image: url("https://images.ctfassets.net/nx3pzsky0bc9/2sdUirqRQ4dXpJpVUcCKny/02edf394197f4f3df2e6f6fb6e2d2f54/Desktop_Work_at_Embrace.png?w=1600&fm=webp");
  height: 300px;
  background-size: cover;
  background-position: center;

}
@media screen and (min-width: 800px) {
.dog-img {
  height: 600px;

}
}